#wrapper {
    padding-top: 2%;
}

.array_size {
    text-align: center;
}

#canvas_wrapper {
  margin: 0px auto;
}

canvas{
  padding-top:2%;
  padding-left: 2%;
  padding-right: 2%;
  margin: auto;
  display: block;
  width: 787px;
  height: 215px;
}

#legend-comment-wrapper {
    padding-top: 2%;
    height: 27vh;
}

.legend {
    list-style: none;
    float: left;
}

.legend .red {
    background-color: red;
    border-radius: 0%;
    width: 3.2vw;
    margin-top: 2.8%;
    height: 0.35vw;
    border: 0vw solid grey;
}
.legend li { padding-bottom : 1.5vw; width: 20vw; }
.legend span { border: 0.1vw solid black; float: left; border-radius: 50%;}

.comment-box {
    margin: auto;
}

.slidecontainer {
    padding-top: 0%;
}

.buttons-wrapper {
    text-align: center;
    padding-top: 2%;
}

p,span {
    /* font-size: 1.5vw; */
    text-align: center;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    canvas {
        width: 95% !important;
        height: auto !important;
        max-width: 100% !important;
    }
    
    #legend-comment-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    
    .legend {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .legend li {
        width: 90%;
        padding-bottom: 10px;
    }
    
    .legend .red {
        width: 30px;
        height: 3px;
    }
    
    .comment-box {
        width: 95%;
        margin: 10px auto;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .array_size {
        padding: 10px;
        font-size: 14px;
    }
    
    .array_size input[type="number"] {
        width: 80px;
        margin: 5px;
    }
    
    .buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 15px;
    }
    
    .button-input {
        min-width: 100px;
        margin: 5px;
    }
    
    .slidecontainer {
        padding: 15px;
    }
    
    .slidecontainer p {
        font-size: 14px;
    }
}
